
<h1>Đánh giá :</h1>
<form [formGroup]="formGroup" (ngSubmit)="rating()">
  <fieldset  class="rating">
    <input formControlName="danhGia" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input formControlName="danhGia" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input formControlName="danhGia" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input formControlName="danhGia" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input formControlName="danhGia" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
  </fieldset>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <input type="text" formControlName="phanHoi" class="form-control" id="exampleFormControlTextarea1"  [ngClass]="{'is-invalid':formGroup.get('danhGia').touched && formGroup.get('danhGia').invalid}" required="" />
    <div class="invalid-feedback">
      <div *ngIf="formGroup.get('danhGia').errors.maxlength">Tối đa 222 kí tự</div>
      <div *ngIf="formGroup.get('danhGia').errors.required">Tổi thiểu 10 kí tự</div>
    </div>
  </div>
  <button type="submit">Đánh giá</button>
  <div *ngIf="isShow"
       class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
       role="alert">
    {{message}}
  </div>
</form>
