<body>
<div class="box">
  <form class="login-form" [formGroup]="formGroup" (ngSubmit)="checkUser()">
    <h1>Đăng nhập</h1>
    <input type="text" formControlName="userName" name="username" placeholder="Tên đăng nhập"  [ngClass]="{'is-invalid':formGroup.get('userName').touched && formGroup.get('userName').invalid}" required />
    <div class="invalid-feedback">
      <div>Vui lòng nhập tên đăng nhập</div>
    </div>
    <input type="password" formControlName="password" name="password" placeholder="Mật khẩu"  [ngClass]="{'is-invalid':formGroup.get('password').touched && formGroup.get('password').invalid}" />
    <div class="invalid-feedback">
      <div *ngIf="formGroup.get('password').errors.required">Vui lòng nhập mật khẩu</div>
      <div *ngIf="formGroup.get('password').errors.minlength">Mật khẩu phải nhiều hơn 6 kí tự</div>
    </div>
    <input *ngIf="false" type="text" formControlName="check" name="password" placeholder="Password" value="{{checkLogin.id}}" required>
    <input type="submit" name="Login" value="Login" [disabled]="!formGroup.valid">
    <div class="links">
      <a href="#">Forgot Password</a>
      <a routerLink="/signup-homepage">Đăng kí</a>
    </div>
    <div *ngIf="isShow"
         class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
         role="alert">
      {{message}}
    </div>
  </form>

</div>
<a class="nav-customAS" data-toggle="modal" data-target="#modalLRForm">Đăng nhập/Đăng kí<span class="span-span">*</span></a>
</body>
